.headerBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #4114d4;
    position: sticky;
    top: 0;
    z-index: 999;
}

.headerForm {
    position: relative;
    max-width: 500px;
    width: 100%;
}

.headerInput {
    padding: 5px 10px 5px 22px;
    width: 100%;
}

.headerInput:focus {
    outline: 2px solid #4114d4;
}

.headerBtn {
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8px;
    left: 5px;
}

.headerIkon {
    color: #535353;
}

.headerIkon:hover,
.headerIkon:focus {
    color: #000000;
}